{% extends 'admin/base.html' %}
{% block branding %}
{% load static %}
<h1 id="head">
    {% comment %} <a href="/admin"><img src="{% static 'images/icons/logo.png' %}" alt="" class="brand_img" height="80px" width="300px"></a> {% endcomment %}
    <h1 style="color:white;">Uma-medical & General Store</h1>
</h1>
{% endblock branding %}
{% block extrastyle %}
{% comment %} <link rel="stylesheet" style="background-color: black;" href="{% static 'css/bootstrap.css' %}"> {% endcomment %}
{% endblock extrastyle %}